.image-cropper {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.header-img {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-back {
    background-image: url(../images/Matrix-Wallpaper-Gif.gif);
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
}

.name-text {
    font-size: 42px;
    font-weight: bold;
    font-family: monospace;
}

.name-background {
    background-color: black;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.rounded {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.resume-container {
    position: relative;
    overflow: hidden;
    margin-right: 50px;
}

.resume-img {
    width: 450px;
    height: auto;
}

.logo-img {
    width: 200px;
    height: auto;
}

.graphic-img {
    width: 300px;
    height: auto;
}

.second-img-container {
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    align-self: center;
}

.first-img-container {
    position: relative;
    overflow: hidden;
    margin-right: 50px;
    align-self: center;
}

.title-text {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.header-text {
    font-size: 70px;
    font-weight: bold;
}

.header-2-text {
    font-size: 55px;
    font-weight: bold;
}

.header-3-text {
    font-size: 36px;
    font-weight: normal;
}

.first {
    float: left;
}

.second {
    overflow: hidden;
}

.text-area {
    width: 600px;
    /* margin-right: 20%; */
    /*margin-top: 5%;
    margin-left: 40%;*/
    margin-top: 10px;
    color: #ebebeb;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 100px;
}

.vertical-img-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.active-tab {
    color: white;
    background-color: #2c3e50;
}

.active-tab:hover {
    color: white !important;
    background-color: #4f7296 !important;
}

.tab {
    color: black !important;
    background-color: #e0cbbe !important;
}

.tab:hover {
    color: black !important;
    background-color: #f5e6de !important;
}

.dropdown-choose {
    color: black !important;
    background-color: #e0cbbe !important;
}

.dropdown-choose:hover {
    color: black !important;
    background-color: #f5e6de !important;
}

.active-choose {
    color: black !important;
    background-color: #fff8f3 !important;
}

hr.solid {
    border-top: 3px solid #bbb;
}
